h1{
    text-align:center;
}

textarea{
    width:100%
}

a{
    color: #27425E;
    text-decoration:none;
}
a:hover{
    color: #000000;
    text-decoration:underline;
}

h1 a:hover{
    text-decoration:none;
}

h1 a{
    color: #000000;
}

.post-title{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.post-info{
    margin-top: 0.5em;
    color:#9D9D9D;
}

.wrap{
    max-width: 1200px;
    margin:0 auto;
    padding: 1em;
}

.primary{
    max-width: 650px;
    margin:0 auto;
}

.pp-post-title{
    font-weight: bold;
    font-size:2em;
    margin-bottom: 0.5em;
}
.pp-post-info{
    margin-top: 0.5em;
    font-size:1em;
    color:#9D9D9D;
}

.pp-post-content{
    margin-top: 0.5em;
    font-size:1.2em;
}

.comment-header{
    color:#9D9D9D;
}

.comment-primary{
    max-width: 575px;
    margin:0 auto;
}

.comment-content{
    margin-top:0.5em;
}
.comment-info{
    margin-top:0.25em;
    font-size:0.75em;
    color:#9D9D9D;
}