<!DOCTYPE html>
<head>
    <title>A Blog 5</title>
    <link rel="stylesheet" href="../static/pure-min.css">
    <link rel="stylesheet" href="../static/basic.css">
</head>
<body>

    <div class="wrap"> 
    <div class="primary">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li class="pure-menu-selected"><a href="/">Home</a></li>
            <li><a href="/newpost">Make New Post</a></li>
        </ul>
    </div>
    <h1><a href="/">Database Shenanigans</a></h1>
    
        <div class = "pure-form">
        <form action="/newpost">
        <button type="submit" class="pure-button">Make a Post</button>
        </form>
        </div>
  
    {% for post in posts %}
      <p class="post-title"><a href="{{ url_for('post',title=post.title,id=post.id) }}">{{ post.title }}</a></p>
      <p class="post-info">Posted by {{ post.author }} on {{ post.date }}</p>
    {% endfor %}  
    </div>
  </div>  
  
</body>
