<!DOCTYPE html>
<head>
    <title>A Blog</title>
    <link rel="stylesheet" href="../static/pure-min.css">
    <link rel="stylesheet" href="../static/basic.css">
</head>
<body>
  <h1>Welcome to our blog!</h1>
  <div class = "form">
    <form>
   <center> <!--<textarea rows="7" cols = "50">
      </textarea>--><button type="submit" name="makePost" value="submit">Make a Post</button> </center>
   </div>
  {% for post in posts %}
  <div class="wrap">
    <div class="post primary">
      <p><b>{{ post.title }}</b> by {{ post.author }}</p>
      <p>Posted on {{ post.date }}</p>
      <div class="post-content">
        {{ post.content }}
      </div>
    </div>
  </div>
  {% endfor %}

</body>
