<!DOCTYPE html>
<head>
    <title>Make A Post</title>
    <link rel="stylesheet" href="../static/pure-min.css">
    <link rel="stylesheet" href="../static/basic.css">
</head>

<body>
    <div class="wrap">
    <div class="primary">
        <form action="/newpost" method="Post" class="pure-form-stacked">
        <center>
            <h1>Enter Your Post Here</h1>
            <input class="pure-input-1-3" type="text" name="author" placeholder=" Author"></input>
            <input class="pure-input-2-3" type="text" name="Titles" placeholder=" Title"></input>
            <textarea name="PostInfo" rows="7"></textarea>
            <button type="submit" name ="submit" value="post">POST</button>
        </center>
        </form>
    </div>
    </div>
</body>
</html>
