<!DOCTYPE html>
<head>
  <title>Make A Post</title>
  </head>

<body>
  <form action="/newpost" method="Post">
  <center> <h1> &nbsp;&nbsp;&nbsp;&nbsp;Enter Your Post Here </h1>
    <input class="pure-input-1-3" type="text" name="author" placeholder="Enter Your Title Here"><br><br></input>
    <input class="pure-input-2-3" type="text" name="Titles" placeholder="Enter Your Title Here"><br><br></input>
    <textarea name="PostInfo" rows="7" cols = "50">
      </textarea>
    <br>
    <button type="submit" name ="submit" value="post">POST</button>
    </form>
</center>
</body>
</html>
